@model IEnumerable<Bai14.Models.Loai>

@{
    ViewData["Title"] = "Cửa hàng";
}

<h2>Quản lý loại hàng hóa</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Thên mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <img src="Hinh/Loai/@item.Hinh" style="height: 88px"/> @*@Html.DisplayFor(modelItem => item.Hinh)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoai" class="btn btn-primary">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaLoai" class="btn btn-success">Thông tin</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLoai" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
